<h1>Heroes <small>Marvel y DC</small></h1>

<div *ngIf="busqueda.startsWith('No se en')" class="alert alert-primary" role="alert"> {{ busqueda }} </div>
<div *ngIf="busqueda.startsWith('Se encontr')" class="alert alert-success" role="alert"> {{ busqueda }} </div>

<div class="card-columns">

    <app-heroe-tarjeta [heroe]="heroe" [index]="heroe.idx" *ngFor="let heroe of heroes"></app-heroe-tarjeta>

    <!--
    <div *ngFor="let heroe of heroes; let i = index" class="card animated fadeIn fast">
        <img class="card-img-top img-fluid" src="{{ heroe.img }}" [alt]="heroe.nombre">
        <div class="card-body">
            <h4 class="card-title">{{ heroe.nombre}}</h4>
            <p class="card-text">
                {{ heroe.bio }}
            </p>
            <p class="card-text"><small class="text-muted">Productora: {{ heroe.casa }} / {{ heroe.aparicion }}</small></p>
            -->
            <!-- <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary">Ver mas...</a>  -->
        <!-- </div> 
    </div> -->

</div>

